<div id="<%= dom_id cocktail %>">
  <p>
    <strong>Name:</strong>
    <%= cocktail.name %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= cocktail.category %>
  </p>

  <p>
    <strong>Ingredients:</strong>
    <%= cocktail.ingredients %>
  </p>

  <p>
    <strong>Recipe:</strong>
    <%= cocktail.recipe %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= cocktail.price %>
  </p>

</div>
