<div id="<%= dom_id cocktail %>" class="card_product">
  <%= image_tag(cocktail.photo, class: "cropped-photo")   %>
  <p>
    <h2><%= cocktail.name %></h2>
  </p>
  <p>
    <strong>Category:</strong>
    <%= cocktail.category %>
  </p>
  <p>
    <strong>Price:</strong>
    <%= cocktail.price %>
  </p>
  <%= link_to "Más Info", cocktail %>
</div>
